body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
#point-area {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 82px;
}
#countdown {
    margin: 0;
}
.game-field {
    height: 400px;
}
#play-area {
    display: flex;
    width: 800px;
    border: 1px solid black;
    cursor: none;
}
#player1-area, #player2-area {
    width: 30px;
    background-color: lightgray;
    position: relative;
}
#player1, #player2 {
    width: 30px;
    height: 100px;
    background-color: #8e0000;
    position: absolute;
}
#pong-area {
    /*410 * 170*/
    width: 740px;
    position: relative;
}
#pong-ball {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
    visibility: hidden;
}
[data-status='disconnected'] {
    color: red;
}
[data-status='connected'] {
    color: green;
}